!!!
%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
    %link(rel="stylesheet" href="javascripts/lib/jqueryui/css/ui-lightness/jquery-ui-1.8.18.custom.css")
    %script{:type => "text/javascript", :src =>"javascripts/lib/jquery-1.7.1.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/jqueryui/js/jquery-ui-1.8.18.custom.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/underscore.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/backbone-min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/util.jquery.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/jjquery.cookie-modified.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/mustache.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/Modernizr.dev.js"}
    %script{:type => "text/javascript", :src =>"javascripts/UserInfoLib.js"}
    %script{:type => "text/javascript", :src =>"javascripts/UserInfo.js"}
    %script{:type => "text/javascript", :src =>"javascripts/DataStore.js"}
    %script{:type => "text/javascript", :src =>"javascripts/messaging.js"}
    %script{:type => "text/javascript", :src =>"javascripts/index_event_handlers.js"}
    %script{:type => "text/javascript", :src =>"javascripts/model/RestaurantModel.js"}
    %script{:type => "text/javascript", :src =>"javascripts/model/LunchSpot.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/UserInfoView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/VFLunchSpotsView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/SavedLunchSpotsView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/MessageRollView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/VoteView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/Logger.js"}
    %script{:type => "text/javascript", :src =>"javascripts/index.js"}
    %meta{:name=>"viewport", :content=>"width=device-width; initial-scale=1.0"}
    %title Lunch Huddle

  %body
    %div(pub-key="pub-f692f5fb-58e7-4f72-b195-0b04d3960da8" sub-key="sub-a2494751-c5a0-11e0-b441-f562192438d2" ssl="off" origin="pubsub.pubnub.com" id="pubnub")
    %script{:type => "text/javascript", :src =>"http://cdn.pubnub.com/pubnub-3.1.min.js"}

    %div#all_content.cols_2
      %div#log
        %div#log_toggle #{@log_toggle} 
        %div#log_content

      %div.column
 
        %div.section
          %h3.main_title.header 
            %a.home_link{:href => "/?huddle=#{@huddle}"} Lunch Huddle
          %div.sub_menu{:style => "float:right; margin-right: 10px;"}
            
            %a{:href => "/userinfo?huddle=#{@huddle}", :style => "float:left"}
              %span.ui-icon.ui-icon-gear
            %a{:href => "/utility?huddle=#{@huddle}", :style => "float:left"}
              %span.ui-icon.ui-icon-info
            %a{:href => ""}
              %span.ui-icon.ui-icon-help{:style => "float:left"}

          %div#vote_view.view.has_header
            %form(action="#")
              %span.foo
                Welcome
                %span#txtName.highlight
  
              %div
                %label where to eat?
              %div
                %input#txtLunchSpot(type="text")
                %input#btnVote.defaultButton{:type => "button", :value => "Vote"}
                
              %div(style="margin-top: 30px;")
                %label comment: &nbsp;
              %div
                %input#txtMessage(type="text")
                %input#btnSendMessage.defaultButton{:type => "button", :value => "Send"}
  
              
            %div.clear

        %div#message_roll.section
          %h4.header
            %span Message Roll
          %div#messages.view(style="overflow-y:auto; height: 125px;")
              

        %div#saved_lunch_spots_view.section
          %h4.header.closed
            %span#bar
              %img.cursor_hover.toggle_view.open{:src => "images/toggle_open.png", :style => "display: none"}
              %img.cursor_hover.toggle_view{:src => "images/toggle_collapse.png"}
  
            %span#foo Saved Lunch Spots
  
          %div#saved_lunch_spots.view.has_header{:style => "display: none"}
                
      %div.column
      
        %div.section
          %div#vf_lunch_spots_view.view
            %span.foo Huddle: 
            %span#huddle_name.highlight #{@huddle}
            %div#vote_list
            %hr
              %a.invite{:href => "/huddle?huddle=#{@huddle}"}invite others

