!!!
%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
    %script{:type => "text/javascript", :src =>"javascripts/lib/jquery-1.7.1.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/jquery-ui-1.8.13.custom.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/underscore.min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/backbone-min.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/util.jquery.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/jjquery.cookie-modified.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/mustache.js"}
    %script{:type => "text/javascript", :src =>"javascripts/lib/Modernizr.dev.js"}
    %script{:type => "text/javascript", :src =>"javascripts/UserInfoLib.js"}
    %script{:type => "text/javascript", :src =>"javascripts/UserInfo.js"}
    %script{:type => "text/javascript", :src =>"javascripts/DataStore.js"}
    %script{:type => "text/javascript", :src =>"javascripts/messaging.js"}
    %script{:type => "text/javascript", :src =>"javascripts/index_event_handlers.js"}
    %script{:type => "text/javascript", :src =>"javascripts/model/RestaurantModel.js"}
    %script{:type => "text/javascript", :src =>"javascripts/model/LunchSpot.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/UserInfoView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/VFLunchSpotsView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/VetoedLunchSpotsView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/SavedLunchSpotsView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/view/VoteView.js"}
    %script{:type => "text/javascript", :src =>"javascripts/Logger.js"}
    %script{:type => "text/javascript", :src =>"javascripts/index.js"}
    %title Lunch Huddle

  %body
    %div(pub-key="pub-f692f5fb-58e7-4f72-b195-0b04d3960da8" sub-key="sub-a2494751-c5a0-11e0-b441-f562192438d2" ssl="off" origin="pubsub.pubnub.com" id="pubnub")
    %script{:type => "text/javascript", :src =>"http://cdn.pubnub.com/pubnub-3.1.min.js"}

    %div#all_content
  
      %div#log
        %div#log_toggle #{@log_toggle} 
        %div#log_content
  
      %div.section
        %h3.main_title.header 
          %a.home_link{:href => "/?huddle=#{@huddle}"} Lunch Huddle

        %div#vote_view.view.has_header
          %form(action="#")
            %span.drag_handle.foo
              Welcome
              %a#txtName.highlight{:href => "/userinfo?huddle=#{@huddle}"} 

            %p
              %label where to eat? &nbsp;
              %input#txtLunchSpot(type="text")
              
            %p
              %label comment: &nbsp;
              %input#txtMessage(type="text")

            %input#btnVote.defaultButton{:type => "button", :value => "Send"}
            
          %div.clear
  
      %div.section
        %div#vf_lunch_spots_view.view
          %span.foo.drag_handle Huddle: 
          %span#huddle_name.highlight #{@huddle}
          %div#vote_list
          %hr
            %a.invite{:href => "/huddle?huddle=#{@huddle}"}invite others
  
      %div.section
        %h4.drag_handle.header
          %span I Won't Eat There

        %div#vetoed_lunch_spots_view.view.has_header
          %div#veto_list

      %div#saved_lunch_spots_view.section
        %h4.drag_handle.header
          %span#bar
            %img.cursor_hover.toggle_view.open{:src => "images/toggle_open.png"}
            %img.cursor_hover.toggle_view{:src => "images/toggle_collapse.png", :style => "display: none"}

          %span#foo Saved Lunch Spots

        %div#saved_lunch_spots.view.has_header

